<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-86">
  <div class="container">
    <!-- Left Section -->
    <div class="image-group">
      <picture class="picture">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/outdoors-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/outdoors.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/outdoors.jpg"
          alt="people outside"
          width="254"
          height="262"
        />
      </picture>
      <picture class="picture">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/pathway-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/pathway.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/[pathway].jpg"
          alt="people outside"
          width="254"
          height="262"
        />
      </picture>
      <picture class="picture">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/planting.jpg"
          alt="person gardening"
          width="254"
          height="262"
        />
      </picture>
      <picture class="picture">
        <source
          media="(max-width: 600px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/urban-environment-m.jpg
          "
        />
        <source
          media="(min-width: 601px)"
          srcset="
            https://csimg.nyc3.digitaloceanspaces.com/SideBySide/urban-environment.jpg
          "
        />
        <img
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/urban-environment.jpg"
          alt="urban environment in green"
          width="254"
          height="262"
        />
      </picture>
    </div>
    <!-- Right Section -->
    <div class="content">
      <span class="topper">What We Do</span>
      <h2 class="title">Good Design, Good Business</h2>
      <p class="text">
        At Leafe Landscaper, we believe that a beautifully designed landscape
        not only enhances the aesthetic appeal of your property but also adds
        value and creates a welcoming environment. Our team of professionals is
        dedicated to transforming your outdoor spaces with creativity,
        precision, and care.
      </p>
      <ul class="card-group">
        <li class="item">
          <span class="number">100+</span>
          <h3 class="h3">Happy Customers</h3>
        </li>
        <li class="item">
          <span class="number">85+</span>
          <h3 class="h3">Landscape Renovations</h3>
        </li>
        <li class="item">
          <span class="number">95+</span>
          <h3 class="h3">Fence Installations</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
