<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="contact-486">
  <div class="container">
    <div class="content">
      <h2 class="title">
        Talk to us about your <span class="color">garden plan!</span>
      </h2>
      <p class="text">
        We would love to hear about your project and discuss how we can help.
        Please fill the form on the right side to schedule a call or discussion
        and meeting on the your convenient time.
      </p>
      <span class="heading">Any problem about your booking?</span>
      <span class="heading">You can contact us on :</span>
      <a href="tel:0486-010-043" class="link">0486-010-043</a>
      <a href="mailto:design@northmelbourneweb.com" class="link"
        >design@northmelbourneweb.com</a
      >
    </div>
    <!--Form-->
    <form id="form-486" name="Contact Form" method="post">
      <h3 class="h3">Schedule Consult</h3>
      <label class="label">
        Name
        <input
          class="input"
          required
          type="text"
          id="name-486"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class="label">
        Phone
        <input
          class="input"
          required
          type="text"
          id="phone-486"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label class="label">
        Email
        <input
          class="input"
          required
          type="text"
          id="email-486"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class="label">
        How Did You Find Us
        <input
          class="input"
          type="text"
          id="find-486"
          name="find-us"
          placeholder="How did you find us?"
        />
      </label>
      <label class="label label-message">
        What do you need help with?
        <select name="cars" id="select-486">
          <option value="full renovation">Full Renovation</option>
          <option value="sod install">Sod Install</option>
          <option value="yard cleanup">Yard Cleanup</option>
          <option value="landscape design">Landscape Design</option>
        </select>
      </label>
      <button class="button-solid submit" type="submit">Book a Consult</button>
    </form>
  </div>
</section>
