<!-- ============================================ -->
<!--                    Form                      -->
<!-- ============================================ -->

<section id="cs-contact-486">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Talk to us about your <span class="cs-color">garden plan!</span></h2>
            <p class="cs-text">
                We would love to hear about your project and discuss how we can help. Please fill the form on the right side to schedule a call or discussion and meeting on the your convenient time.
            </p>
            <span class="cs-heading">Any problem about your booking?</span>
            <span class="cs-heading">You can contact us on :</span>
            <a href="tel:0486-010-043" class="cs-link">0486-010-043</a>
            <a href="mailto:design@northmelbourneweb.com" class="cs-link">design@northmelbourneweb.com</a>
        </div>
        <!--Form-->
        <form id="cs-form-486" name="Contact Form" method="post">
            <h3 class="cs-h3">Schedule Consult</h3>
            <label class="cs-label">
                Name
                <input class="cs-input" required type="text" id="name-486" name="name" placeholder="Name">
            </label>
            <label class="cs-label">
                Phone
                <input class="cs-input" required type="text" id="phone-486" name="phone" placeholder="Phone">
            </label>
            <label class="cs-label">
                Email
                <input class="cs-input" required type="text" id="email-486" name="email" placeholder="Email">
            </label>
            <label class="cs-label">
                How Did You Find Us
                <input class="cs-input" type="text" id="find-486" name="find-us" placeholder="How did you find us?">
            </label>
            <label class="cs-label cs-label-message">
                What do you need help with?
                <select name="cars" id="cs-select-486">
                    <option value="full renovation">Full Renovation</option>
                    <option value="sod install">Sod Install</option>
                    <option value="yard cleanup">Yard Cleanup</option>
                    <option value="landscape design">Landscape Design</option>
                </select>
            </label>
            <button class="cs-button-solid cs-submit" type="submit">Book a Consult</button>
        </form>
    </div>
</section>