<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-453">
  <div class="container">
    <div class="content">
      <div class="flex">
        <span class="topper">Portfolio</span>
        <h2 class="title">Our Gallery</h2>
      </div>
      <div class="button-group">
        <!--When adding extra galleries, copy and paste the button and make data-filter equal to four, then five, etc. Do the same for the corresponding gallery and it's data attribute-->
        <button class="button" data-filter="one">Renovations</button>
        <button class="button" data-filter="two">Sod</button>
        <button class="button" data-filter="three">Fencing</button>
      </div>
    </div>
    <div class="wrapper">
      <!--Gallery 1-->
      <div class="gallery" data-category="one">
        <!--Picture 1-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 2-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 3-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 4-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
      </div>
      <!--Gallery 2-->
      <div class="gallery hidden" data-category="two">
        <!--Picture 1-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 2-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 3-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 4-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
      </div>
      <!--Gallery 3-->
      <div class="gallery hidden" data-category="three">
        <!--Picture 1-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 2-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 3-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
        <!--Picture 4-->
        <picture class="image">
          <source
            media="(max-width: 600px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <source
            media="(min-width: 601px)"
            srcset="
              https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg
            "
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg"
            alt="gallery"
            width="305"
            height="400"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
