<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-444">
  <div class="container">
    <div class="content">
      <span class="tag">Leafe Landscaping</span>
      <h1 class="title">Transforming Melbourne's Outdoor Spaces</h1>
      <p class="text">
        Leafe Landscaper specializes in creating and maintaining stunning
        gardens and landscapes for homes and businesses. Let us bring your
        outdoor vision to life with our expert design and care.
      </p>
    </div>
    <a href="" class="cta">
      <!--Arrow Right-->
      <svg
        class="arrow"
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 40 40"
        fill="none"
      >
        <path
          fill="#FAFBFC"
          d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"
        />
        <path
          fill="#FAFBFC"
          d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"
        />
      </svg>
      <!--Wrapped in a span so it can be animated-->
      <span class="cta-text"
        >Get Free<br />
        Quote</span
      >
    </a>
  </div>

  <!-- Background Image -->
  <picture class="background">
    <source
      media="(max-width: 600px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg-m.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg.jpg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg.jpg"
      alt="leaf"
      width="1920"
      height="1000"
      aria-hidden="true"
    />
  </picture>
</section>
