<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-510">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-title-group">
                <span class="cs-topper">Reviews</span>
                <h2 class="cs-title">What People Say</h2>
            </div>
            <p class="cs-text">
                Hear from our satisfied clients about their experiences with Leafe Landscaper.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!--Green Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                <p class="cs-item-text">
                    Leafe Landscaper transformed our backyard into a beautiful oasis. Their attention to detail and professionalism were outstanding.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        Anne Brown
                        <span class="cs-job">Residential Client</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <!--Green Quote-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                <p class="cs-item-text">
                    Our office landscape looks amazing thanks to Leafe Landscaper. They were efficient, friendly, and highly skilled.
                </p>
                <div class="cs-flex-group">
                    <picture class="cs-picture">
                        <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                    </picture>
                    <span class="cs-name">
                        John Smith
                        <span class="cs-job">Commercial Client</span>
                    </span>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Read More Reviews</a>
    </div>
</section>