<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-510">
  <div class="container">
    <div class="content">
      <div class="title-group">
        <span class="topper">Reviews</span>
        <h2 class="title">What People Say</h2>
      </div>
      <p class="text">
        Hear from our satisfied clients about their experiences with Leafe
        Landscaper.
      </p>
    </div>
    <ul class="card-group">
      <li class="item">
        <!--Green Quote-->
        <img
          class="quote"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="46"
        />
        <p class="item-text">
          Leafe Landscaper transformed our backyard into a beautiful oasis.
          Their attention to detail and professionalism were outstanding.
        </p>
        <div class="flex-group">
          <picture class="picture">
            <img
              class="profile"
              src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
            />
          </picture>
          <span class="name">
            Anne Brown
            <span class="job">Residential Client</span>
          </span>
        </div>
      </li>
      <li class="item">
        <!--Green Quote-->
        <img
          class="quote"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg"
          decoding="async"
          alt="quote icon"
          width="40"
          height="46"
        />
        <p class="item-text">
          Our office landscape looks amazing thanks to Leafe Landscaper. They
          were efficient, friendly, and highly skilled.
        </p>
        <div class="flex-group">
          <picture class="picture">
            <img
              class="profile"
              src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile3.png"
              decoding="async"
              alt="profile"
              width="50"
              height="50"
              aria-hidden="true"
            />
          </picture>
          <span class="name">
            John Smith
            <span class="job">Commercial Client</span>
          </span>
        </div>
      </li>
    </ul>
    <a href="" class="button-solid">Read More Reviews</a>
  </div>
</section>
