<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-468">
  <div class="container">
    <ul class="card-group">
      <li class="item">
        <img
          class="icon"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/geen1.svg"
          loading="lazy"
          decoding="async"
          alt="icon"
          width="90"
          height="90"
        />
        <h3 class="h3">Custom Garden Design</h3>
      </li>
      <li class="item">
        <img
          class="icon"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green2.svg"
          loading="lazy"
          decoding="async"
          alt="icon"
          width="90"
          height="90"
        />
        <h3 class="h3">Expert Lawn Care</h3>
      </li>
      <li class="item">
        <img
          class="icon"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green3.svg"
          loading="lazy"
          decoding="async"
          alt="icon"
          width="90"
          height="90"
        />
        <h3 class="h3">Landscape Maintenance</h3>
      </li>
      {#
      <li class="item">
        <img
          class="icon"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green4.svg"
          loading="lazy"
          decoding="async"
          alt="icon"
          width="90"
          height="90"
        />
        <h3 class="h3">Service 4</h3>
      </li>
      <li class="item">
        <img
          class="icon"
          aria-hidden="true"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/SideBySide/green5.svg"
          loading="lazy"
          decoding="async"
          alt="icon"
          width="90"
          height="90"
        />
        <h3 class="h3">Service 5</h3>
      </li>
      #}
    </ul>
  </div>
</section>
