<!-- ============================================ -->
<!--                  Meat Team                   -->
<!-- ============================================ -->

<section id="meet-435">
    <div class="container">
        <div class="content">
            <div class="content-group">
                <span class="topper">Our Team</span>
                <h2 class="title">Meet Our Team Members</h2>
            </div>
            <p class="text">
                At Leafe Landscaper, our dedicated team of professionals brings expertise, creativity, and a passion for landscaping to every project. With a commitment to excellence and customer satisfaction, we work together to transform your outdoor spaces into stunning landscapes.
            </p>
        </div>
        <ul class="card-group">
            <li class="item">
                <picture class="picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit1.jpg" alt="person" width="305" height="242">
                </picture aria-hidden="true">
                <span class="name">Wahid Keito</span>
                <span class="job">Lead Landscape Designer
</span>
            </li>
            <li class="item">
                <picture class="picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit2.jpg" alt="person" width="305" height="242" aria-hidden="true">
                </picture>
                <span class="name">Claudio Arthur</span>
                <span class="job">Senior Horticulturist</span>
            </li>
            <li class="item">
                <picture class="picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit3.jpg" alt="person" width="305" height="242" aria-hidden="true">
                </picture>
                <span class="name">Thomas Castro</span>
                <span class="job">Lawn Care Specialist</span>
            </li>
            <li class="item">
                <picture class="picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit4.jpg" alt="person" width="305" height="242" aria-hidden="true">
                </picture>
                <span class="name">Phillip Walker</span>
                <span class="job">Maintenance Supervisor</span>
            </li>
        </ul>
    </div>
    <!--Leaves-->
    <img class="leaves leaf1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/leaves5.png" alt="leaf" width="489" height="358">
    <img class="leaves leaf2" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/leaves6.png" alt="leaf" width="713" height="525">
</section>