<!-- ============================================ -->
<!--                  Meat Team                   -->
<!-- ============================================ -->

<section id="meet-435">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-group">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Meet Our Team Members</h2>
            </div>
            <p class="cs-text">
                At Leafe Landscaper, our dedicated team of professionals brings expertise, creativity, and a passion for landscaping to every project. With a commitment to excellence and customer satisfaction, we work together to transform your outdoor spaces into stunning landscapes.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit1.jpg" alt="person" width="305" height="242">
                </picture aria-hidden="true">
                <span class="cs-name">Wahid Keito</span>
                <span class="cs-job">Lead Landscape Designer
</span>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit2.jpg" alt="person" width="305" height="242" aria-hidden="true">
                </picture>
                <span class="cs-name">Claudio Arthur</span>
                <span class="cs-job">Senior Horticulturist</span>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit3.jpg" alt="person" width="305" height="242" aria-hidden="true">
                </picture>
                <span class="cs-name">Thomas Castro</span>
                <span class="cs-job">Lawn Care Specialist</span>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit4.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit4.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Meet-Team/suit4.jpg" alt="person" width="305" height="242" aria-hidden="true">
                </picture>
                <span class="cs-name">Phillip Walker</span>
                <span class="cs-job">Maintenance Supervisor</span>
            </li>
        </ul>
    </div>
    <!--Leaves-->
    <img class="cs-leaves cs-leaf1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/leaves5.png" alt="leaf" width="489" height="358">
    <img class="cs-leaves cs-leaf2" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/leaves6.png" alt="leaf" width="713" height="525">
</section>